{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {% for article in articles %}
        <article>
            <h2>{{ article.title  }}</h2>
            <img src="{{ asset('build/images/arbre.jpg') }}" alt="" class="img-fluid img-thumbnail" />
            <p class="text-justify">{{ article.content }}</p>
        </article>
    {% endfor %}
{% endblock %}
