{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {% for article in articles %}
        <article>
            <p class="h2">{{ article.title  }}</p>
            <p class="h3">{{ article.content }}</p>
        </article>
    {% endfor %}
{% endblock %}
